*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    background-color:bisque;
}

p {
    margin: 0 20rem 0 20rem;
}

.header {
    
}

.navbar {
    display: flex;
    flex-direction: start;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/* Forms */

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;
    margin: 0 20rem 0 20rem;
}

#whiskey-form{

}

#newsletter-form {

}

/* End - Forms */